<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="styles.css"> 
<body>
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            </div>
            
        </div>
        <h1>Forgot Password</h1>
        <form action="/forgot-password" method="POST"> 
            <label for="email">Email/username</label>
            <input type="text" name="email" id="email">
            <input type="submit" value="Submit">
        </form> 
    </div>
</body>
</html>
